@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #0476D0;
$primary-invert: findColorInvert($primary);

$secondary: #C7466B;
$light-secondary: #FF7D9E;
$secondary-invert: findColorInvert($secondary);

// Links
$link: $secondary;
$link-invert: $secondary-invert;
$link-focus-border: $link;

$custom_colors: (
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "light-secondary": ($light-secondary, $secondary-invert),
    "link": ($link, $link-invert)
);

$colors: map-merge($colors, $custom_colors);
